
<footer class="page-footer mdb-color white text-center text-md-left pt-4 mt-4">

    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <img src="../assets/img/footer-logo.png" style="height: 20vh;">
            </div>

            <div class="col-md-5 offset-md-3 black-text">
              
                <ul class="list-unstyled ">
                    <li>
                        <a style="color: rgb(141,33,101);" routerLink ="/contact">Contact Us</a>
                    </li>
                </ul>
                <div style="color: #54BCEB;">
                	We connect, inspire and guide women in computing and organizations that view technology innovation as a strategic imperative. Women transform technology.
                </div>
            </div>


        </div>
  
    </div>

    <div class="footer-copyright white-text text-center py-3" style="background-color:#54BCEB;">
    	<div class="text-center mb-3 " style="background-color:#54BCEB;">
	    	<a class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect style="margin-right: 30px;" href="https://www.facebook.com/AnitaB.0rg/">
	            <i class="fa fa-facebook fa-3x"> </i>
	        </a>
	   
	        <a class="btn-floating btn-small btn-gplus " mdbWavesEffect style="margin-right: 30px;" href = " https://twitter.com/systers_org">
	            <i class="fa fa-twitter fa-3x"> </i>
	        </a>
	       
	        <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect style="margin-right: 30px;">
	            <i class="fa fa-github fa-3x"> </i>
	        </a>
	        <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect href ="https://www.youtube.com/channel/UCUvti1DEKYUZBtQqQAtCK6g/videos" style="margin-right: 30px;">
	        	<i class="fa fa-youtube-play fa-3x" aria-hidden="true"></i>
	        </a>
	        <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect href ="https://medium.com/@systers_org" style="margin-right: 30px;">
	        	<i class="fa fa-medium fa-3x" aria-hidden="true"></i>
	        </a>
	        	
	    </div>
        
        <div class="container-fluid">
            Systers
            <a href="#"> "We believe in the community we build" </a>

        </div>
    </div>
</footer>

                      