<div class="imgel">
	<img src = "../assets/img/contact.png" class = "contact-banner">
</div>
<div class = " container box logos">
 <div class="container">
	<div class = "row">
 
		<div class = " col col-md-4 col-sm-6">
			<a href = "https://systers-opensource.slack.com/"> <button type="button" class="btn btn-rounded waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB; ">Slack</button></a>
		</div>
		<div class = "col col-md-4 col-sm-6">
			<a href="https://github.com/systers/communities/"><button type="button"  class="btn btn-rounded waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB;">Github</button></a>
		</div>
		<div class = "col col-md-4 col-sm-6">
			<a href="http://systers.org/mailman/listinfo/systers-opensource"><button type="button" class="btn btn-rounded waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB;">Mailing List</button></a>
		</div>
	</div>
  </div>
	</div>
	<div class = "col-md-10 container">
	<center><h2>Contact Form </h2></center>
		<form action="/">
		  <div class="form-group">
		    <label for="email">Email address:</label>
		    <input type="email" class="form-control" id="email">
		  </div>
		  <div class="form-group">
		    <label for="pwd">Enter your message:</label>
		    <input type="text" class="form-control" id="pwd">
		  </div>
		  
		  <button type="submit" class="btn btn-default">Submit</button>
		</form>
</div>
