
<div class="fixed-sn">
 
    <mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
      <mdb-slide *ngFor="let slide of slides; let index=index">
        <img [src]="slide.image" class="d-block w-100">
        <div class="carousel-caption">
          <h4>Slide {{index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </mdb-slide>
    </mdb-carousel>
 
</div>

<center><h2>Systers Affinity Groups</h2></center>
<div class="row">
  <div class="col-sm-4" *ngFor="let det of details ; let index=index">
    <div *ngIf="index%2==0; else elseAgeBlock">
     <button type="button" class="btn btn-rounded waves-light brand-c" (click)="style.show()" mdbWavesEffect style="background-color: #54BCEB;">{{det.title }}</button>
    </div>   
    <ng-template #elseAgeBlock>
       <button type="button" class="btn btn-rounded waves-light brand-c" (click)="style.show()" mdbWavesEffect style="background-color: #8d2165;">{{det.title }}</button>
    </ng-template> 
         
              
  <div mdbModal #style="mdb-modal" class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-notify modal-success" role="document">
          <div class="modal-content">
              <div class="modal-header" style="background-color: #8d2165;">
                  <p class="heading lead" style="background-color: #8d2165 ">{{ det.title }}</p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="style.hide()">
                      <span aria-hidden="true" class="white-text">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="text-center">
                      <i class="fa fa-check fa-4x mb-3 animated rotateIn" style="color: #8d2165;"></i>
                      <p>{{ det.desc }}</p>
                  </div>
              </div>
              <div class="modal-footer justify-content-center">
                  <a type="button" href="{{ det.mailing }}" class="btn btn-primary waves-light" target="_blank" mdbWavesEffect style="background-color: #54BCEB;">Mailing List <i class="fa fa-mail ml-1"></i></a>
                  
              </div>
          </div>
      </div>
  </div>

</div>
</div>