
<div class ="mx-auto" style="width: 100%" >
 <div class="container .d-sm-flex" style="width: 100%">
    <mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="myInterval" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
      <mdb-slide >
        <div class="cimages"  alt="Card image cap" style="background-image: url(../assets/img/women2.jpg);  background-repeat: no-repeat;" ></div>

        <div class="carousel-caption">
          
        </div>
      </mdb-slide>
      <mdb-slide >
        <div class="cimages"  alt="Card image cap" style="background-image: url(../assets/img/women1.jpg);  background-repeat: no-repeat; " ></div>

        <div class="carousel-caption">
          
        </div>
      </mdb-slide>
      <mdb-slide >
        <div class="cimages"  alt="Card image cap" style="background-image: url(../assets/img/women3.jpg);  background-repeat: no-repeat;" ></div>


        <div class="carousel-caption">
          
        </div>
      </mdb-slide>
    </mdb-carousel>
 </div>
</div>
<div class = "container .d-sm-flex " style="padding-top: 20px;">
<ngb-tabset (tabChange)="beforeChange($event)" [justify]="currentJustify" >

<ngb-tab id="tab-preventchange1" title="Systers Affinity Groups">
    <ng-template ngbTabContent>
    <center><h2>Systers Affinity Groups</h2></center>
    <center>
    <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let det of details ; let index=index ;" style="margin-bottom: 20px;">
        <div class="card" style="margin:auto;">

        <div [ngStyle]="{'background-image': 'url(' + det.img + ')'}" class="sig-img" style="background-repeat: no-repeat; background-size: cover; width: 100%"></div>
            

            <div class="card-body">
                <h4 class="card-title">{{det.title}}</h4>
                <p class="card-text">{{det.desc}}</p>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
            <a href="{{ det.mailing }}" target="_blank" mdbWavesEffect >Mailing List</a>              
        </div>
         </div>
        </div>
        <br>
        <br>
    </div>
    </center>
            
    </ng-template>
  </ngb-tab>
  
 
  <ngb-tab id="tab-preventchange2" title="Systers Special Interest Groups">
    <ng-template ngbTabContent>
    <center><h2>Systers Special Interest Groups</h2></center>
    <center>
    <div class="row">
        <div class="col-lg-3" *ngFor="let det of details_sig ; let index=index ;" style="margin-bottom: 20px;">
        <div class="card" style="margin:auto;">
            <div class="sig-img"  alt="Card image cap" style="background-image: url(../assets/img/women1.jpg);  background-repeat: no-repeat; background-size: cover; width: 100%" ></div>
            <div class="card-body">
                <h4 class="card-title">{{det.title}}</h4>
                <p class="card-text">{{det.desc}}</p>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
            <a href="{{ det.mailing }}" target="_blank" mdbWavesEffect >Mailing List</a>              
        </div>
         </div>
        </div>
        <br>
        <br>
    </div>
    </center>
            
    </ng-template>
  </ngb-tab>
  
  <ngb-tab title="CRA-W Email Groups" >
    <ng-template ngbTabContent>
        <center><h2>CRA-W Email Groups</h2></center>
        <center>
        <div class="row">
            <div class="col-lg-3" *ngFor="let det of detail_mail ; let index=index ;" style="margin-bottom: 20px;">
            <div class="card">
                <div class="sig-img"  alt="Card image cap" style="background-image: url(../assets/img/women1.jpg);  background-repeat: no-repeat; background-size: cover; width: 100%" ></div>
                <div class="card-body">
                    <h4 class="card-title">{{det.title}}</h4>
                    <p class="card-text">{{det.desc}}</p>
                </div>
            <div style="margin-bottom: 20px;">
            <a href="{{ det.mailing }}" target="_blank" mdbWavesEffect >Mailing List</a>              
            </div>
            </div>

            </div>
        </div>
        </center>
    </ng-template>
  </ngb-tab>
  
</ngb-tabset>
</div>