<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
        </div>
    </mdb-slide>
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
            <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
        </div>
    </mdb-slide>
    <mdb-slide>
        <div class="view">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
        </div>
        <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
        </div>
    </mdb-slide>
</mdb-carousel>
                
<div class = "col-md-12">
	<div class="card">
		<center><h3><b>About Systers</b> </h3></center>

	    <div class ="container .d-sm-flex">
		    <p class ="info">Systers is an international Anita B.org community encouraging the participation of all women involved in technology.

			We are committed to providing a friendly, safe, and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, work experience, or religion (or lack thereof).

			We believe in inclusivity, diversity, and transparency. We value open source citizenship and collaborative involvement. </p>
	    </div>
	</div>
</div>
<center><h3><b>Systers Affinity Groups</b> </h3></center>

<div class="grid-block">
  <div class="flip-container">
    <div id="f1" class="flip-card shadow">
      <div class="front-face">
        <img src="../assets/img/women1.jpg">
        <span>African Women in Computing</span>
      </div>
      <div class="back-face-center">
        <p>
         Our group celebrates the accomplishments of African women in the areas of STEM and technology innovation. We provide exposure to role models for African girls in the area of technology
        </p>
      </div>
    </div>
  </div>
  <div class="flip-container">
    <div id="f2" class="flip-card shadow">
      <div class="front-face">
        <img src="../assets/img/women2.jpg">
        <span>Asian Women in Computing</span>
      </div>
      <div class="back-face-center">
        <p>
          Our group encourages Asian women to stay in technical fields, provides networking opportunities, and helps members advance their careers by conquering cultural barriers.
        </p>
      </div>
    </div>
</div>
<div class="flip-container">
    <div id="f3" class="flip-card shadow">
      <div class="front-face">
        <img src="../assets/img/women3.jpg">
        <span>Arab Women in Computing</span>
      </div>
      <div class="back-face-center">
        <p> 
          Created from the regional collaborative on Women in Computing in the Arab World with NYU Abu Dhabi, our group connects Arab women in computing around the globe to engage with and inspire one another.
        </p>
      </div>
    </div>
</div>
</div>
<center><a routerLink ="/communities"> <button type="button" class="btn btn-rounded waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB;">Click Here to Know More </button></a></center>
<hr>

<center><h3><b>Upcoming Events</b> </h3></center>

<div class="grid-block">
  <div class="flip-container">
    <div id="f1" class="flip-card shadow">
      <div class="front-face">
        <span>{{events[0].title}}</span>
        <hr>
        <p> <i class="fa fa-calendar" aria-hidden="true"></i> {{events[0].start }}</p>
        <p style="word-wrap: break-word ;"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{events[0].location}} </p>
      </div>
      <div class="back-face-center">
      <h5> About {{events[0].title}} </h5>
        <p> {{ events[0].description}}
         </p>

      </div>
    </div>
  </div>
  <div class="flip-container">
    <div id="f2" class="flip-card shadow">
      <div class="front-face">
        
        <span>{{events[1].title}}</span>
        <hr>
        <p class="white-text"> <i class="fa fa-calendar" aria-hidden="true"></i> {{events[1].start }}</p>
        <p class="white-text" style="word-wrap: break-word ;"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{events[1].location}} </p>
      </div>
      <div class="back-face-center">  
        <h5> About {{events[1].title}} </h5>

        <p> {{ events[1].description}}</p>

      </div>
    </div>
  </div>
  <div class="flip-container">
    <div id="f3" class="flip-card shadow">
      <div class="front-face">
        <span>{{events[2].title}}</span>
        <hr>
        <p> <i class="fa fa-calendar" aria-hidden="true"></i> {{events[2].start }}</p>
        <p style="word-wrap: break-word ;"> <i class="fa fa-map-marker" aria-hidden="true"></i> Location:{{events[2].location}} </p>
      </div>
      <div class="back-face-center">
        <h5> About {{events[2].title}} </h5>
        <p> {{ events[2].description}}
         </p>

      </div>
    </div>
  </div>
  
</div>
<center><a routerLink ="/dates"> <button type="button" class="btn btn-rounded waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB;">View Events in Calendar </button></a></center>
  

