
<div class ="mx-auto" style="width: 100%" >
 <div class="container .d-sm-flex" style="width: 100%">
    <mdb-carousel [isControls]="true" [animation]="'slide'" [interval]="myInterval" [(activeSlide)]="activeSlideIndex" (activeSlideChange)="activeSlideChange()">
      <mdb-slide >
        <div class="cimages"  alt="Card image cap" style="background-image: url(../assets/img/AfricanWiC-stolen.jpg);  background-repeat: no-repeat;" ></div>

        <div class="carousel-caption">
          
        </div>
      </mdb-slide>
      <mdb-slide >
        <div class="cimages"  alt="Card image cap" style="background-image: url(../assets/img/women1.jpg);  background-repeat: no-repeat; " ></div>

        <div class="carousel-caption">
        </div>
      </mdb-slide>
      <mdb-slide >
        <div class="cimages"  alt="Card image cap" style="background-image: url(../assets/img/women3.jpg);  background-repeat: no-repeat;" ></div>

        <div class="carousel-caption">
          
        </div>
      </mdb-slide>
    </mdb-carousel>
 </div>
</div>

<div class ="container .d-sm-flex">

	<div class="card">
		<center><h3><b>About Systers</b> </h3></center>

	    <div class ="container .d-sm-flex">
		    <p class ="info">Systers is an international Anita B.org community encouraging the participation of all women involved in technology.

			We are committed to providing a friendly, safe, and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, work experience, or religion (or lack thereof).

			We believe in inclusivity, diversity, and transparency. We value open source citizenship and collaborative involvement. </p>
	    </div>
	</div>
</div>

<center><h3><b>Systers Affinity Groups</b> </h3></center>

<div class="container .d-sm-flex">

    <div class="row">
        <div class="col-lg-3"  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">

            <div class="sig-img"  alt="Card image cap" style="background-image: url(../assets/img/AfricanWiC-stolen.jpg);  background-repeat: no-repeat; background-size: cover; width: 100%" ></div>

            <div class="card-body">
                <h4 class="card-title">African Women in Computing</h4>
                <p class="card-text"> Our group celebrates the accomplishments of African women in the areas of STEM and technology innovation. We provide exposure to role models for African girls in the area of technologys</p>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
                       
        </div>
         </div>
        </div>
        <br>
        <br>
        <div class="col-lg-3 "  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">

            <div class="sig-img"  alt="Card image cap" style="background-image: url(../assets/img/AsianWiC.jpg);  background-repeat: no-repeat; background-size: cover; width: 100%" ></div>

            <div class="card-body">
                <h4 class="card-title">Asian Women in Computing</h4>
                <p class="card-text"> Our group encourages Asian women to stay in technical fields, provides networking opportunities, and helps members advance their careers by conquering cultural barriers.</p>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
                       
        </div>
         </div>
        </div>
        <br>
        <br>
        <div class="col-lg-3 "  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">

            <div class="sig-img"  alt="Card image cap" style="background-image: url(../assets/img/BlackWiC.jpeg);  background-repeat: no-repeat; background-size: cover; width: 100%" ></div>
            <div class="card-body">
                <h4 class="card-title">Black Women in Computing</h4>
                <p class="card-text"> Our group provides support and resources to increase the number of black women in computing-related fields</p>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
                       
        </div>
         </div>
        </div>
        <br>
        <br>
         <div class="col-lg-3 "  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">

            <div class="sig-img"  alt="Card image cap" style="background-image: url(../assets/img/ArabWiC.jpeg);  background-repeat: no-repeat; background-size: cover; width: 100%" ></div>

            <div class="card-body">
                <h4 class="card-title">Arab Women in Computing</h4>
                <p class="card-text"> Created from the regional collaborative on Women in Computing in the Arab World with NYU Abu Dhabi, our group connects Arab women in computing around the globe to engage with and inspire one another.</p>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
                       
        </div>
         </div>
        </div>

        <br>
        <br>
    </div>

</div>
<center><a routerLink ="/communities"> <button type="button" class="btn btn-rounded waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB;">Click Here to Know More </button></a></center>
<hr>

<center><h3><b>Upcoming Events</b> </h3></center>
<div class="container .d-sm-flex">

    <div class="row">
        <div class="col-lg-3 "  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">
            
            <div class="card-body">
               <p ><b>{{events[0].title}}</b></p>
                <div> <i class="fa fa-calendar" aria-hidden="true"></i> {{events[0].start }}</div>
                <br>
                <div style="word-wrap: break-word ;"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{events[0].location}} </div>
                <br>
                <div [innerHTML]= "events[0].description" ></div>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
                       
        </div>
         </div>
        </div>
        <br>
        <br>
        <div class="col-lg-3"  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">
            
            <div class="card-body">
                <p><b>{{events[1].title}}</b></p>
                <div> <i class="fa fa-calendar" aria-hidden="true"></i> {{events[1].start }}</div>
                <br>
                <div style="word-wrap: break-word ;"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{events[1].location}} </div>
                <br>
                <div [innerHTML]= "events[1].description" ></div>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
                       
        </div>
         </div>
        </div>
        <br>
        <br>
        <div class="col-lg-3 "  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">
            
            <div class="card-body">
            <p ><b>{{events[2].title}}</b></p>
                <div> <i class="fa fa-calendar" aria-hidden="true"></i> {{events[2].start }}</div>
                <br>
                <div style="word-wrap: break-word ;"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{events[2].location}} </div>
                <br>
                <div [innerHTML]= "events[2].description" ></div>
            </div>
        <br>
        <br>
       
        <div style="margin-bottom: 20px;">
                       
        </div>
         </div>
        </div>
        <br>
        <br>
        <div class="col-lg-3 "  style="margin-bottom: 20px;">
        <div class="card cardg" style="margin:auto;">
            <div class="card-body">
                <p><b>{{events[3].title}}</b></p>
                <div> <i class="fa fa-calendar" aria-hidden="true"></i> {{events[3].start }}</div>
                <br>
                <div style="word-wrap: break-word ;"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{events[3].location}} </div>
                <br>
                <div [innerHTML]= "events[3].description" ></div>
            </div>
        <br>
        <br>

         </div>
        </div>
        <br>
        <br>
  </div>   
</div>
<center><a routerLink ="/dates"> <button type="button" class="btn btn-rounded waves-light brand-c" mdbWavesEffect style="background-color: #54BCEB;">View Events in Calendar </button></a></center>
  

