
.card{
	margin : 30px;
	font-family : 'Source Sans Pro', sans-serif;
  font-size: 3vh;
	
}
.card-body{
  
  font-size: 2.4vh;
}

.cardg{
  height:100%;
  width:90%;
  
}
.sig-img{
  height :130px;
  width :100%;
}

center{
	margin : 15px;
}
@media only screen and (max-width: 600px) {
    .info{
      margin-right : 5px;
      margin-left :5px;
      font-size : 12px;
    }
  

}
.cimage{
    max-height: 550px;
   
}


.cimages{
    height:80vh;
    width : 100%;
    background-size :cover;
    background-position :top center;
}

@media only screen and (max-width: 1000px) {
    .cimages{
    background-size :contain;
    background-position :center;
    margin-bottom:0px;
    width : 100%;
    height: 50vh;
}

}

